h1 {
  padding: 10px;
  margin: 20px;
  font-size: 56px;
}

h3 {
  display: block;
  padding: 5px;
  margin: 0 auto;
  width: 400px;
  transition: all 2ms ease-in-out;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
}
li {
  text-align: center;
  font-weight: 600;
}
h3:hover {
  background-color: #93c0b6;
  color: darkslategrey;
}
.container {
  background: url("pexels-ian-turnell-709552.jpg");
  border-radius: 20px;
  margin: 30px;
}

.weather-app {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  padding: 20px;
  margin: 0 auto;
  margin-top: 15px;
  background: linear-gradient(
    180.5deg,
    rgba(0, 128, 128, 0.6) 8.5%,
    rgba(174, 206, 100, 0.8) 118.2%
  );
  color: antiquewhite;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#first {
  margin-top: 35px;
}
.temperature {
  font-size: 40px;
  display: inline;
  font-weight: 500;
  position: relative;
  margin-bottom: 0;
}
.active {
  color: antiquewhite;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  color: antiquewhite;
  text-decoration: none;
  cursor: default;
}

.forecast {
  padding: 20px;
  text-align: center;
}

.footer {
  padding: 5px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  background-color: rgba(116, 203, 199, 0.6);
  color: antiquewhite;
  margin: 20px 80px 0 80px;
  border-radius: 20px 0 20px 0;
}
.name,
.github,
.host {
  color: #fff;
}
.active {
  color: antiquewhite;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  cursor: default;
}
#current-location {
  position: relative;
  margin-right: 25px;
  margin-left: -30px;
  height: 38px;
  width: 76px;
  font-size: 11px;
  font-weight: bolder;
  background-color: antiquewhite;
  border: none;
  color: #6d757d;
}

#sun-cloud-icon {
  font-size: 70px;
  color: darkslategrey;
  margin-right: 15px;
  float: left;
}
#sun-rain-icon {
  font-size: 70px;
}
#sun-icon {
  font-size: 70px;
  color: orangered;
}
#termometer-icon {
  position: relative;
  display: block;
  margin: 20px;
  font-size: 25px;
  float: right;
}
#humidity-indicator,
#wind,
#feels-like {
  float: right;
  margin-left: 60px;
}
#fahrenheit-symbol,
#celsius-symbol {
  color: antiquewhite;
}

#definition {
  margin-left: 10px;
  text-transform: capitalize;
}
